{%- extends "navbar_base.html" %}
{%- block content %}
<div class="big-header">{% block FE_header %}{% endblock FE_header %}</div>
{%- for account in accounts %}
<div class="base-container">
    <div class="account">
        <div class="pfp"><img src="{{ url_for('misc.render_pic', filename=account.pfp) }}" alt="{{ account.acc_name }}'s pfp"></div>
        <div class="username"><a href="{{ url_for('users.user_profile', username=account.acc_name) }}">{{ account.acc_name }}</a></div>
    </div>
    <div class="display">
        {%- if not explore and logname != account.acc_name %}
        <div class="follow-text">{%- if account.logname_fol_acc %}following{%- else %}not following{%- endif %}</div>
        {%- endif %}
        {%- if logname != account.acc_name %}
        <form action="{{ url_for('postonly.following', target=request.url) }}" method="POST" enctype="multipart/form-data" class="follow-button">
            <input type="submit" name="{%- if account.logname_fol_acc %}unfollow{%- else %}follow{%- endif %}" value="{%- if account.logname_fol_acc %}unfollow{%- else %}follow{%- endif %}"/>
            <input type="hidden" name="username" value="{{ account.acc_name }}"/>
            <input type="hidden" name="operation" value="{%- if account.logname_fol_acc %}unfollow{%- else %}follow{%- endif %}"/>
        </form>
        {%- endif %}
    </div>
</div>
{%- endfor %}
{%- endblock content %}