<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>insta485</title>
    </head>
    <body>
        <header>
            <div class="left-header">
                <div class="home"><a href="{{ url_for('misc.home') }}"><img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Instagram logo"></a></div>
                <div class="insta">Insta485</div>
            </div>
            <div class="right-header">
                <div class="right-header-container">
                    {%- if logname %}
                    <div class="explore"><a href="{{ url_for('misc.explore') }}">explore</a></div>
                    <div class="logname"><a href="{{ url_for('users.user_profile', username=logname) }}">{{ logname }}</a></div>
                    {%- else %}
                    <div class="login-navbar">login</a></div>
                    {%- endif %}
                </div>
            </div>
        </header>
        <hr>
        {%- block content %}{%- endblock %}
    </body>
</html>