{%- extends "navbar_base.html" %}
{%- block content %}
<div id="main-container">
    <div id="forms" class="password">
        <div id="labels">
            <div class="row"><label for="pw">Old password</label><br></div>
            <div class="row"><label for="pw1">New password</label><br></div>
            <div class="row"><label for="pw2">New password, again</label><br></div>
        </div>
        <form action="{{ url_for('postonly.accounts', target=url_for('admin.edit')) }}" method="POST" enctype="multipart/form-data" id="CEP">
            <input id="pw" type="password" name="password" required/><br>
            <input id="pw1" type="password" name="new_password1" required/><br>
            <input id="pw2" type="password" name="new_password2" required/><br>
            <input class="pec" type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
    </div>
    <div class="redirect"><a href="{{ url_for('admin.edit') }}">Back to edit account</a></div>
</div>
{%- endblock content %}